.container_task {
    display: flex;
    margin-top: 20px;
    width: 1000px;
    max-width: 1000px;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    flex-direction: row;
    background-color: rgba(241, 241, 241, 0.71);
}

.task_icon {
    font-size: 25px;
    color: red;
}

.task_completed {
    font-size: 20px;
    text-decoration: line-through;
    color: red;
}

.task {
    font-size: 20px;
    color: blue;
}