.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-content: center;
}

table {
    background-color: rgba(95, 158, 160, 0.37);
    text-align: center;
    padding: 0.5rem;
    border-collapse: separate;
    border-spacing: 100px 20px;
}

table h1 {
    text-align: center;
}
