.formLogin {
    display: flex;
    width: 400px;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    padding: 4px
}

input {
    height: 30px;
    margin-top: 10px;
}

.btnLogin {
    height: 40px;
    background-color: cadetblue;
    color: white;
    font-size: 20px;
}